/*.text-field {
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
    -fx-alignment: left ;
    -fx-background-color: transparent ;
    -fx-text-fill: black ;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}*/

.text-field
{
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
    -fx-border-color: #424242 ;
    -fx-prompt-text-fill: #424242 ;
    -fx-border-radius: 10px ;
    -fx-alignment: left ;
}

.text-field:hover
{
    -fx-border-color: #039be5 ;
}

.text-field:focused
{
    -fx-border-color: #039be5 ;
    -fx-prompt-text-fill: transparent ;


}
