.date-picker
{
    -fx-border-radius: 10 10 10 10 ;
    -fx-border-color: transparent ;
    -fx-background-color: transparent ;
}

.date-picker:hover
{
    -fx-border-color: #039be5 ;
}

.date-picker > .text-field
{
    -fx-border-radius: 10 0 0 10 ;
    -fx-border-color: #424242 ;
    -fx-prompt-text-fill: #424242 ;
    -fx-background-color: transparent ;

}

.date-picker > .arrow-button {
    -fx-border-color: #424242 ;
    -fx-background-color: transparent ;
    -fx-border-radius: 0 10 10 0 ;



}
