.button
{
  -fx-border-radius: 10px ;
  -fx-background-color: transparent ;
  -fx-border-color: #039be5 ;
  -fx-text-fill: #039be5
}

.button:hover
{
  -fx-border-radius: 10 10 10 10 ;
  -fx-border-color: #039be5 ;
  -fx-background-color: #039be5 ;
  -fx-text-fill: white;
}
